<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="img/gambarAbout.jpeg" alt="gambarAbout" class="img-tumbnail rounded-circle" width="200">
            <h1 class="display-4">Kenzo Sebastian</h1>
            <p class="lead">Programmer | Website Builder</p>
        </div>
    </div>
</div>